<div class="posts-wrapper">
  <div class="row profile-header">
    <div class="col-md-6">
      <div class="img-circle">
        <%= image_tag @user.avatar_url, id: "image-preview",
         class: "img-responsive img-circle profile-image"  if @user.avatar? %>
        <%= image_tag @user.avatar.default_url, id: "image-preview", class: "img-responsive img-circle profile-image" unless @user.avatar? %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="user-name-and-follow">
        <h3 class="profile-user-name" title="<%= @user.name.present? ? @user.name : @user.email %>">
          <%= @user.name.present? ? trim_string(@user.name,10,'...') : trim_string(@user.email, 10, '...') %>
        </h3>
        <span>
          <% if @user == current_user %>
            <%= link_to t("edit_profile"), edit_user_path(@user), class: 'btn edit-button' %>
          <% end %>
        </span>

        <span class="show-follow-form"><%= render "follow_form", user: @user %></span>

        <span><%= render 'shared/stats' %></span>
      </div>
      <p class="profile-bio">
        <%= @user.email %>
      </p>
      <div class="user-statistics">
      </div>
    </div>
  </div>
</div>

<div class="posts-wrapper1">
  <div class="tab_img">
    <% @foods.each do |food|%>
      <div class="col-md-4 portfolio-grids">
        <div class="grid">
          <%= link_to food.picture_url, class: "swipebox",
            title: "#{link_to t(:go_to_detail_image), food_path(food), class: "img-responsive"}" do %>
            <%= image_tag food.picture_url, class: "img-responsive" %>
            <div class="figcaption">
              <h3><%= trim_string(food.name, 15, '...') %></h3>
              <p><%= trim_string(food.caption, 30, '...') %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
    jQuery(function($) {
      $(".swipebox").swipebox();
    });
</script>
