<% @user ||= current_user %>
<div class="stats">

  <strong id="following" class="stat">
      <%= @user.foods.count %>
    </strong>
  posts

  <%= link_to "#", data: {toggle: "modal", target: "#myFollowing"} do %>
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  <% end %>
  <%= link_to "#", data: {toggle: "modal", target: "#myFollowers"} do %>
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="myFollowing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">List following</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% @user.following.each do |user| %>
            <li>
              <div>
                <%= link_to image_tag(user.avatar_url, class: "img-ava-mini"), user_path(user) %>
                <%= link_to user.name.present? ? user.name : user.email, user_path(user) %>
                <span class="show-follow-form modal-show-follow"><%= render "users/follow_form", user: user %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myFollowers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">List followers</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% @user.followers.each do |user| %>
            <li>
              <div>
                <%= link_to image_tag(user.avatar_url, class: "img-ava-mini"), user_path(user) %>
                <%= link_to user.name.present? ? user.name : user.email, user_path(user) %>
                <span class="show-follow-form modal-show-follow"><%= render "users/follow_form", user: user %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
