<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= link_to food.user.name.present? ? food.user.name : food.user.email, user_path(food.user) %>
      </div>

      <% if current_user? food.user %>
        <div class="food-action">
          <span class="glyphicon glyphicon-pencil pencil-food"
            aria-hidden="true" data-cmt="<%= food.id %>"></span>

          <div class="content-action content-action-<%= food.id %>">
            <ul>
              <li><%= link_to "Edit...", edit_food_path(food) %></li>
              <li><%= link_to "Delete...", food, method: :delete,
                data: {confirm: "Are you sure?"} %></li>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="time-ago">
        <%= time_ago_in_words food.created_at %>
      </div>
    </div>

    <div class="image center-block">
      <%= link_to image_tag(food.picture_url, class: "img-responsive"), food_path(food) %>
    </div>

    <div class="post-bottom">
      <div id="form-for-like-<%= food.id%>">
        <%= render "like_form", food: food if user_signed_in? %>
      </div>
      <div class="caption">
        <div class="caption-content">
          <ul>
            <%= "<li><b>Name</b>: #{food.name} </li>".html_safe if food.name.present? %>
            <%= "<li><b>Address</b>: #{food.address} </li>".html_safe if food.address.present? %>
            <%= "<li><b>Caption</b>: #{food.caption} </li>".html_safe if food.caption.present? %>
          </ul>

      </div>

      <div id="comments-of-phone-<%= food.id %>" class="comments-list">
        <% if food.comments.any? %>
          <%= render food.comments.first(4) %>
          <% unless food.comments.count <= 4 %>
            <div class="paginator" id="#comments-paginator-<%= food.id %>">
              <%= link_to "view all #{food.comments.count} comments", comments_path(food_id: food.id), remote: true, class: 'more-comments', id: "more_comments_#{food.id}" %>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>
        <div class="dn-cmt-form">
          <%= render "shared/comment_form", food: food %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="listLikers<%=food.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">List Likers</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% food.likes.each do |like| %>
              <li>
                <div>
                  <%= link_to image_tag(like.user.avatar_url, class: "img-ava-mini"), user_path(like.user) %>
                  <%= link_to like.user.name.present? ? like.user.name : like.user.email, user_path(like.user) %>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
