<div id="posts">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %> posts-wrapper"><%= message %></div>
  <% end %>
  <% flash.clear %>
  <div class="posts-wrapper">
    <div class="posts suggest">
      <div class="suggest-header">
      <h5><%= t "list_suggest"%></h5>
      </div>
      <div class="suggest-body">
        <ul>
          <% @users_suggest.each do |user| %>
            <li>
              <div>
                <%= link_to image_tag(user.avatar_url, class: "img-ava-mini"), user_path(user) %>
                <%= link_to user.name.present? ? user.name.capitalize : user.email.capitalize, user_path(user) %>
                <span class="show-follow-form modal-show-follow"><%= render "users/follow_form", user: user %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <%= render 'foods' %>
</div>
<div class="index-pagi text-center">
  <%= will_paginate @foods %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    if ($('.pagination').length) {
      $(window).scroll(function() {
        var url = $('.pagination .next_page').attr('href');
        if (url && $(window).scrollTop() > $(document).height() - $(window).height() - 10) {
          $('.pagination').html('<img src="http://baobinhphuoc.com.vn/Content/imgs/loading.gif" alt="Loading..." title="Loading..." />')
          return $.getScript(url);
        }
      });
      return $(window).scroll();
    }
  });
</script>
