<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to root_path, title: "FoodStagram" do %>
          <i class="fa fa-picture-o fa-5" aria-hidden="true"></i><strong><%= t "delicious"%></strong>
        <% end %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%#= render 'notifications/notification_dropdown' %>
          </li>
          <li class="search-form">
            <div class="ui-widget">
              <input id="tags" placeholder="<%= t :search %>" >
              <input id="link_origin_id" name="link[origin_id]" type="hidden"/>
              <ul class="noresult"></ul>
            </div>
          </li>
          <li>
            <div class="language pull-right">
                <%= link_to  url_for(locale: "en"), title: t("eng") do %>
                  <img src="http://rikkeisoft.com/wp-content/themes/rikkei/images/common/gb.svg">
                <% end %>
                <%= link_to url_for(locale: "jp"), title: t("jap") do %>
                  <img src="http://en.rikkeisoft.com/wp-content/uploads/2016/03/japan-flag-150x145.png">
                <% end %>
                <%= link_to url_for(locale: "vi"), title: t("vie") do %>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Flag_of_Vietnam.svg">
                <% end %>
            </div>
          </li>
          <li>
            <%= link_to new_food_path, class: "abcd", title: t("new_post") do %>
              <i class="fa fa-upload fa-5" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user), class: "abcd", title:t("profile") do %>
              <i class="fa fa-user fa-5" aria-hidden="true"></i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: "abcd", title: t("log_out") do %>
              <i class="fa fa-sign-out fa-5" aria-hidden="true"></i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<script>
  $( function() {
    $( "#tags" ).autocomplete({
      source: '<%= foods_path(format: :json) %>',
      response: function(event, ui) {
        console.log(ui);
        if (ui.content.length === 0) {
            $(".noresult").html("<li class='noresult'>No results found</li>");
            $(".noresult").css("display", "block");
        } else {
            $(".noresult").empty();
        }
      },
      select: function(event, ui) {
          $('#tags').val(ui.item.email);
          $('#link_origin_id').val(ui.item.id);
                  return false;
              }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
      console.log(item)
      var a = "users/"+item.id
      return $( '<a class="auto-li" href='+"<%= root_url %>"+"users/"+item.id+'></a>' )
        .data( "item.autocomplete", item )
        .append( '<img class="img-ava-mini" src="' + item.avatar.url + '" /><span>' + item.email.trim() + '</span>' )
        .appendTo( ul );
    };
  });
</script>
