<!DOCTYPE html>
<html>
  <head>
    <title>Foodstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == "sessions" || (controller_name == "registrations" && controller.action_name == "new") ||
      (controller_name == "registrations" && controller.action_name == "create") %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
